:root {
    --bg-main: #f4f1ec;
    --bg-card: #ffffff;
    --color-primary: #1f2a33;
    --color-accent: #7a2e2e;
    --color-muted: #7b7b7b;
    --radius: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        sans-serif;
}

body {
    background: var(--bg-main);
    height: 100vh;
    color: var(--color-primary);
}

/* ===== ОБЩАЯ КАРТОЧКА ===== */
.screen {
    width: 100%;
    height: 100%;
    background: var(--bg-card);
    display: none;
    inset: 0;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.25s ease, transform 0.25s ease;
    pointer-events: none;
}

/* уход влево */
.screen.exit-left {
    opacity: 0;
    transform: translateX(-20px);
}

/* уход вправо */
.screen.exit-right {
    opacity: 0;
    transform: translateX(20px);
}
.screen.active {
    display: block;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.first,
.second {
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo {
    margin-top: 50px;
    margin-bottom: 12px;
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

p.description {
    font-size: 14px;
    color: var(--color-muted);
    text-align: center;
    line-height: 1.4;
}

/* ===== ФОРМЫ ===== */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 6px;
}

input {
    width: 300px;
    margin: 0, auto;
    padding: 14px 16px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 20px;
}

input:focus {
    outline: none;
    border-color: var(--color-accent);
}

.button {
    width: 200px;
    padding: 14px;
    border-radius: 14px;
    border: none;
    background: var(--color-primary);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.button.secondary {
    background: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    margin-top: 12px;
}

.button:disabled {
    opacity: 0.5;
}

.code-inputs input {
    width: 50px;
}

.dialogs {
    display: grid;
    grid-template-columns: 80px minmax(100px, 150px) 1fr;
    height: 100vh;
    background: var(--bg-main);
}
.sidebar-nav {
    margin-top: 30px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.nav-top,
.nav-bottom,
.list-actions,
.chat-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-icon,
.list-action {
    background: var(--bg-main);
    border: 1px solid var(--bg-main);
}

.list-actions {
    margin-top: 20px;
    align-items: start;
    padding-bottom: 20px;
}
.header__icon {
    width: 50px;
    height: 50px;
}
.header {
    margin-left: 50px;
    font-size: 15px;
    font-weight: 500;
}

.chat-main {
    
}

.chat-actions {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.chat-messages {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.incoming {
    padding-left: 30px;
    text-align: left;
}

.outgoing {
    padding-right: 30px;
    text-align: right;
}